<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tambola</title>
  <link rel="stylesheet" href="tambola.css"></head>
</head>
<body>
  <div class="root">
    <h1 class="heading">
      <span class="brand"><img src="brand.png"></span>
      <span class="title" contenteditable>Tambola</span>
      <span class="logo"><img src="logo.png"></span>
    </h1>
    <div class="board"></div>
    <div class="controls">
      <button class="action show">Show (<kbd>s</kbd>)</button>
      <button class="action hide">Hide (<kbd>h</kbd>)</button>
      <button class="action next">Next (<kbd>n</kbd>)</button>
    </div>
  </div>
  <div class="number"><span class="value"></span></div>

  <script type="text/html" class="template">
    <% _.each(seq, (val, index) => { %>
      <div class="cell cell-<%= index %>">
        <span class="text"><%= index + 1 %></span>
      </div>
    <% }) %>
  </script>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="tambola.js"></script>
</body>
</html>
